$pri-font: "Lobster", cursive;
$col-1: #000000;
$col-2: #ec576b;
$col-3: #4ec5c1;
$col-4: #e5e338;
$border-grey: 1px solid darkgrey;

@mixin sliding-background($color) {
  background-image: linear-gradient(
    135deg,
    transparent 0%,
    transparent 50%,
    $color 50%
  );
  background-size: 350%;
  &:hover {
    background-position: 100%;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1rem;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
}

.btn {
  font-size: 1.5rem;
  font-family: $pri-font;
  padding: 0.5rem;
  transition-duration: 0.3s;
  box-shadow: 0.2rem 0.2rem 0rem black;
  &:hover {
    cursor: pointer;
    transform: translateY(-0.2rem);
    box-shadow: 0.4rem 0.4rem 0rem black;
  }
  &-pink {
    @include sliding-background($col-2);
  }
  &-aqua {
    @include sliding-background($col-3);
  }
  &-lime {
    @include sliding-background($col-4);
  }
}

.header {
  width: 100%;
  padding: 1rem;
  box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.8);

  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img_container {
    height: 5rem;
    img {
      height: 100%;
    }
  }
  .nav_item {
    font-family: $pri-font;
    font-size: 2rem;
    width: max-content;
    &:nth-child(2) {
      @include sliding-background($col-3);
    }
    &:nth-child(3) {
      @include sliding-background($col-4);
    }
    &:last-child {
      @include sliding-background($col-2);
    }
    transition-duration: 0.3s;
    padding: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      height: 5rem;
    }
    &:hover {
      &:not(:first-child) {
        cursor: pointer;
      }
      background-position: 100%;
      color: white;
    }
  }
}

.search {
  width: 100%;
  height: 4.5rem;
  form {
    display: grid;
    grid-template-columns: 1fr 4.5rem;
    align-items: center;
    input {
      height: 100%;
      width: 100%;
      border: $border-grey;
      padding-left: 1rem;
      font-size: 2rem;
    }
    .search_button {
      background-color: $col-3;
      padding: 1.5rem;
    }
  }
}

.modal {
  &_backface {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: max-content;
  max-width: 90%;
  max-height: 90%;
  overflow: scroll;
  background-color: #eeeeee;
  box-shadow: 1rem 1rem 0rem rgba(0, 0, 0, 0.8);
  padding: 2rem;

  hr {
    background-color: darkgrey;
    height: 2px;
    width: 80%;
    margin: 1rem auto;
  }
  &_header {
    display: flex;
    justify-content: space-between;
    &_text {
      font-size: 2rem;
    }
    &_close {
      font-size: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_login {
      & > * {
        margin: 1rem 0;
      }
      &_social {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_link {
          color: white;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
          width: 20rem;
          display: flex;
          justify-content: space-around;
          padding: 0.5rem;
        }
        .facebook {
          background-color: #3b5998;
          margin-bottom: 0.5rem;
        }
        .google {
          background-color: #db4437;
        }
      }
      &_form {
        &_group {
          display: flex;
          flex-direction: column;
          label {
            font-size: 1.5rem;
          }
          input {
            font-size: 1.5rem;
            border: $border-grey;
            padding: 0.3rem;
          }
        }
      }
      &_button {
        display: flex;
        justify-content: center;
      }
    }
    &_beer {
      display: grid;
      grid-template-columns: 15rem 1fr;
      &_image {
        margin-right: 1rem;
        display: flex;
        align-items: center;
        img {
          width: 100%;
        }
      }
      &_desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > *:not(:last-child) {
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }
        &_head {
          font-family: $pri-font;
        }
        &_description {
          text-align: left;
        }
      }
    }
    &_saving {
      width: 30rem;
      label {
        font-family: $pri-font;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      .range {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
        .change_rating {
          display: flex;
          i {
            font-size: 2rem;
          }
        }
        .input_and_rating {
          display: flex;
          align-items: center;
          width: 100%;
          input {
            -webkit-appearance: none;
            width: calc(100%-6rem);
            height: 5px;
            background: darkgrey;
            margin-right: 1rem;
            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              background-color: $col-2;
              width: 2rem;
              height: 2rem;
              border-radius: 50%;
              box-shadow: 0.2rem 0.2rem 0rem black;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .rating {
          -webkit-clip-path: polygon(
            33% 0,
            100% 0%,
            100% 100%,
            33% 100%,
            33% 70%,
            0 50%,
            33% 30%
          );
          clip-path: polygon(
            33% 0,
            100% 0%,
            100% 100%,
            33% 100%,
            33% 70%,
            0 50%,
            33% 30%
          );
          height: 4rem;
          width: 6rem;
          position: relative;
          background-color: $col-3;
          &_number {
            position: absolute;
            right: 0.75rem;
            top: 1.75rem;
            transform: translate(-50%, -50%);
            font-size: 2.5rem;
          }
        }
      }
      .comments {
        display: flex;
        flex-direction: column;
        input {
          padding: 0.5rem;
        }
      }
    }
  }
  &_footer {
    &_saving {
      display: flex;
      justify-content: space-between;
    }
  }
}

.list_group {
  width: 90%;
  margin: auto;
  &_item {
    display: grid;
    grid-template-columns: 10rem 1fr;
    width: 100%;
    background-color: #eeeeee;
    margin: 1rem 0;
    box-shadow: 0.5rem 0.5rem 0rem black;
    transition-duration: 0.3s;

    &_img {
      width: 100%;
      img {
        width: 100%;
      }
    }

    &_desc {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: left;
      &_name {
        font-size: 2rem;
      }
      &_brewery {
        font-family: $pri-font;
        font-size: 1.5rem;
      }
    }
    &:hover {
      cursor: pointer;
      transform: translate(-5px, -5px);
      box-shadow: 0.75rem 0.75rem 0rem black;
    }
  }
}

#snackbar {
  visibility: hidden;
  width: max-content;
  max-width: 90%;
  background-color: #333;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

#snackbar.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.profile {
  &_header {
    font-size: 2rem;
    text-align: center;
  }
}
