*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1rem;
  outline: none;
  text-decoration: none; }

body {
  font-family: "Raleway", sans-serif; }

.btn {
  font-size: 1.5rem;
  font-family: "Lobster", cursive;
  padding: 0.5rem;
  transition-duration: 0.3s;
  box-shadow: 0.2rem 0.2rem 0rem black; }
  .btn:hover {
    cursor: pointer;
    transform: translateY(-0.2rem);
    box-shadow: 0.4rem 0.4rem 0rem black; }
  .btn-pink {
    background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #ec576b 50%);
    background-size: 300%; }
    .btn-pink:hover {
      background-position: 100%; }
  .btn-aqua {
    background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #4ec5c1 50%);
    background-size: 300%; }
    .btn-aqua:hover {
      background-position: 100%; }
  .btn-lime {
    background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #e5e338 50%);
    background-size: 300%; }
    .btn-lime:hover {
      background-position: 100%; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem; }
  .header > * {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    justify-content: center;
    align-items: center; }
    .header > * > *:first-child {
      margin-right: 2rem; }
  .header .img_container {
    height: 5rem; }
    .header .img_container img {
      height: 100%; }
  .header .nav_item {
    font-family: "Lobster", cursive;
    font-size: 2rem;
    background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #e5e338 50%);
    background-size: 300%;
    transition-duration: 0.3s;
    padding: 1rem; }
    .header .nav_item:hover {
      background-position: 100%; }
    .header .nav_item:hover {
      cursor: pointer;
      background-position: 100%;
      color: white; }

.search {
  width: 100%;
  height: 4.5rem; }
  .search form {
    display: grid;
    grid-template-columns: 1fr 4.5rem;
    align-items: center; }
    .search form input {
      height: 100%;
      width: 100%;
      border: 1px solid darkgrey;
      padding-left: 1rem; }
    .search form .search_button {
      background-color: #4ec5c1;
      padding: 1.5rem; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: max-content;
  max-width: 90%;
  max-height: 90%;
  overflow: scroll;
  background-color: #eeeeee;
  box-shadow: 1rem 1rem 0rem rgba(0, 0, 0, 0.8);
  padding: 2rem; }
  .modal_backface {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0; }
  .modal hr {
    background-color: darkgrey;
    height: 2px;
    width: 80%;
    margin: 1rem auto; }
  .modal_header {
    display: flex;
    justify-content: space-between; }
    .modal_header_text {
      font-size: 2rem; }
    .modal_header_close {
      font-size: 2rem; }
  .modal_body {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .modal_body_login > * {
      margin: 1rem 0; }
    .modal_body_login_social {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .modal_body_login_social_link {
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        width: 20rem;
        display: flex;
        justify-content: space-around;
        padding: .5rem; }
      .modal_body_login_social .facebook {
        background-color: #3b5998;
        margin-bottom: .5rem; }
      .modal_body_login_social .google {
        background-color: #db4437; }
    .modal_body_login_form_group {
      display: flex;
      flex-direction: column; }
      .modal_body_login_form_group label {
        font-size: 1.5rem; }
      .modal_body_login_form_group input {
        font-size: 1.5rem;
        border: 1px solid darkgrey;
        padding: 0.3rem; }
    .modal_body_login_button {
      display: flex;
      justify-content: center; }

.list_group {
  width: 90%;
  margin: auto; }
  .list_group_item {
    display: grid;
    grid-template-columns: 10rem 1fr;
    width: 100%;
    background-color: #eeeeee;
    margin: 1rem 0;
    box-shadow: .5rem .5rem 0rem black;
    transition-duration: .3s; }
    .list_group_item_img {
      width: 100%; }
      .list_group_item_img img {
        width: 100%; }
    .list_group_item_desc {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center; }
      .list_group_item_desc_name {
        font-size: 2rem; }
      .list_group_item_desc_brewery {
        font-family: "Lobster", cursive;
        font-size: 1.5rem; }
    .list_group_item:hover {
      cursor: pointer;
      transform: translateX(-5px); }
