$col-sky: #7cdbd5;
$col-coral: #f53240;
$col-golden: #f9be02;
$col-aqua: #02c8a7;
$col-facebook: #3b5998;
$col-google: #db4437;

@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");

$ff-lato: "Lato", sans-serif;
$ff-raleway: "Raleway", sans-serif;

@mixin btn-outline ($color) {
  color: $color;
  &:hover {
    background-color: $color;
    color: white;
  }
}

@mixin R($breakpoint){
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em){@content};
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em){@content};
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em){@content};
  }

  @if $breakpoint == big-desk {
    @media only screen and (min-width: 112.5em){@content};
  }
}
